<a href="https://colab.research.google.com/github/PiyushYewale/gitupload/blob/main/Practical_6_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [30]:
df=sns.load_dataset("titanic")
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [8]:
data=pd.DataFrame(
    {
        "Roll No":[2001,2002,2003,2004],
        "Name":['Piyush','Aryan','Neha','Tanvi'],
        "Marks":[80,75,77,79],
        "Age":[19,18,16,17]
    }
)
print(data)

   Roll No    Name  Marks  Age
0     2001  Piyush     80   19
1     2002   Aryan     75   18
2     2003    Neha     77   16
3     2004   Tanvi     79   17

In [11]:
mean_age=data['Age'].mean()
data['Age mean']=data['Age'].fillna(mean_age)
print(data)

   Roll No    Name  Marks  Age  Age mean
0     2001  Piyush     80   19        19
1     2002   Aryan     75   18        18
2     2003    Neha     77   16        16
3     2004   Tanvi     79   17        17

In [12]:
data.head()

   Roll No    Name  Marks  Age  Age mean
0     2001  Piyush     80   19        19
1     2002   Aryan     75   18        18
2     2003    Neha     77   16        16
3     2004   Tanvi     79   17        17

In [13]:
data.isnull()

   Roll No   Name  Marks    Age  Age mean
0    False  False  False  False     False
1    False  False  False  False     False
2    False  False  False  False     False
3    False  False  False  False     False

In [21]:
mode_age=data['Age'].mode()
data['Age Mode']=data['Age'].fillna(mode_age)
print(data)

   Roll No    Name  Marks  Age  Age mean  Age Mode
0     2001  Piyush     80   19        19        19
1     2002   Aryan     75   18        18        18
2     2003    Neha     77   16        16        16
3     2004   Tanvi     79   17        17        17

In [27]:
data_median=data['Marks'].median()
data['New Marks']=data['Marks'].fillna(data_median)
print(data)

   Roll No    Name  Marks  Age  Age mean  Age Mode  new age  New Marks
0     2001  Piyush     80   19        19        19       19         80
1     2002   Aryan     75   18        18        18       18         75
2     2003    Neha     77   16        16        16       16         77
3     2004   Tanvi     79   17        17        17       17         79

In [31]:
df_median=df['age'].median()
df['New age']=df['age'].fillna(data_median)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  New age
0      man        True  NaN  Southampton    no  False     22.0
1    woman       False    C    Cherbourg   yes  False     38.0
2    woman       False  NaN  Southampton   yes   True     26.0
3    woman       False    C  Southampton   yes  False     35.0
4      man        True  NaN  Southampton    no   True     35.0
..     ...         ...  ...          ...   ...    ...      ...
886    man        True  NaN  Southampton    no   True     27.0
887  woman       False    B  Southampton   yes   True     19.0
888  woman       False  NaN  Southampton    no  False     78.0
889    man        True    C    Cherbourg   yes   True     26.0
890    man        True  NaN   Queenstown    no   True     32.0

[891 rows x 16 columns]

In [41]:
df.groupby("sex").agg({"fare":"count"})
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  New age
0      man        True  NaN  Southampton    no  False     22.0
1    woman       False    C    Cherbourg   yes  False     38.0
2    woman       False  NaN  Southampton   yes   True     26.0
3    woman       False    C  Southampton   yes  False     35.0
4      man        True  NaN  Southampton    no   True     35.0
..     ...         ...  ...          ...   ...    ...      ...
886    man        True  NaN  Southampton    no   True     27.0
887  woman       False    B  Southampton   yes   True     19.0
888  woman       False  NaN  Southampton    no  False     78.0
889    man        True    C    Cherbourg   yes   True     26.0
890    man        True  NaN   Queenstown    no   True     32.0

[891 rows x 16 columns]

Map In Pandas

In [39]:
df['survived'].map(lambda x:"Survived" if x==1 else "Not Survived")

0      Not Survived
1          Survived
2          Survived
3          Survived
4      Not Survived
           ...
886    Not Survived
887        Survived
888    Not Survived
889        Survived
890    Not Survived
Name: survived, Length: 891, dtype: object

Replace

In [40]:
df['sex'].replace(["male","female"],["M","F"])

0      M
1      F
2      F
3      F
4      M
      ..
886    M
887    F
888    F
889    M
890    M
Name: sex, Length: 891, dtype: object

Save

In [46]:
df.to_csv("/content/sample_data/data1.csv",index=False)

Practical 7 Questions